@page "/shippers/create"
@page "/shippers/{id:int}/edit"
@using Northwind.Blazor.Helpers
@using Northwind.Blazor.Models
@using Northwind.Common.Enums
@using Northwind.Core.Exceptions
@using Northwind.Core.Interfaces.Services
@inherits PageBase
@inject NavigationManager NavigationManager
@inject IShippersService ShippersService

<MudPaper Elevation="2" Class="my-1">
    <MudToolBar>
        <MudText><EntryModePageHeader Mode="_mode" DisplayName="Shipper"/></MudText>        
    </MudToolBar>
</MudPaper>

@if(IsLoading)
{
    <MudProgressLinear Indeterminate="true"/>
}
@if(_shipper is not null)
{
<EditForm Model="@_shipper" OnValidSubmit="Save">
    <DataAnnotationsValidator/>
    <MudGrid>
        <MudItem lg="6" sm="12" xs="12">            
            <MudTextField Label="Name" @bind-Value="_shipper.Name" For="@(() => _shipper.Name)"/>
            <MudTextField Label="Phone" @bind-Value="_shipper.Phone" For="@(() => _shipper.Phone)"/>
            <div class="d-flex justify-end mt-2">
                <MudButton Link="shippers" Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Small" Class="mr-1">Cancel</MudButton>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">@_saveButtonText</MudButton>
            </div>
        </MudItem>
    </MudGrid>
</EditForm>
}

@code {
    private EntryMode _mode = EntryMode.Create;
    private Shipper? _shipper;
    private string _saveButtonText = "Save";

    [Parameter]
    public int Id{ get; set; }

    protected override async Task OnInitializedAsync()
    {        
        _mode = NavigationManager.Uri.Contains("create") ? EntryMode.Create : EntryMode.Edit;       
        switch (_mode)
        {
            case EntryMode.Create:
                _shipper = new Shipper();
                break;
            case  EntryMode.Edit:
                await LoadShipper();
                break;
        }
    }

    private async Task LoadShipper()
    {
        IsLoading = false;

        var shipper = await ShippersService.Get(Id);
        if(shipper is null){
            Notify("Supplier not found.", Severity.Error);
            return;
        }

        _shipper = MapperHelper.ToShipper(shipper);

        IsLoading = false;
    }

    private async Task Save()
    {
        if (_shipper is not null)
        {
            var shipperDto = MapperHelper.ToShipperDto(_shipper);
            try
            {
                IsLoading = true;
                _saveButtonText = "Saving...";
                switch (_mode)
                {
                    case EntryMode.Create:
                        await ShippersService.Create(shipperDto);
                        break;
                    case EntryMode.Edit:
                        await ShippersService.Update(Id, shipperDto);
                        break;
                }

                Notify($"Shipper {(_mode == EntryMode.Create ? "created" : "updated")} successfully.", Severity.Success);
                NavigationManager.NavigateTo("shippers");
            }
            catch (ValidationFailedException exc)
            {
                var errorMessage = String.Join("<br/>", exc.ValidationErrors.Select(x => $"{x.Message.Key}:{x.Message.Value}").ToList());
                Notify(errorMessage, Severity.Error);
            }
            catch(Exception exc)
            {
                Notify("Something went wrong. Please try again.<br/>" + exc.Message, Severity.Error);
            }
            finally
            {
                IsLoading = false;
                _saveButtonText = "Save";
            }
        }
    }

}
