@page "/shippers"
@using Northwind.Blazor.Helpers
@using Northwind.Blazor.Models
@using Northwind.Core.Interfaces.Services
@inherits PageBase
@inject IShippersService ShippersService
<MudPaper Elevation="2" Class="my-1">
    <MudToolBar>
        <MudText>Shippers</MudText>
        <MudSpacer />
        <MudButton Link="shippers/create" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small">Create Shipper</MudButton>
    </MudToolBar>
</MudPaper>
@if (IsLoading)
{
    <MudProgressLinear Indeterminate="true"/>
}

@if(!_shippers.Any())
{
    <MudAlert Severity="Severity.Info" Variant="Variant.Text">No shippers found.</MudAlert>    
}
else
{
<MudSimpleTable Style="overflow-x: auto;" Dense="true" Hover="true" Bordered="true">
    <thead>
        <tr class="text-center">
            <th>Name</th>            
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var shipper in _shippers)
    {
        if (shipper is not null)
        {
        <tr>
            <td class="d-flex">
                <MudLink Href="@string.Format("shippers/{0}", shipper.Id)" Underline="Underline.None" Class="flex-grow-1">@shipper.Name</MudLink>
            </td>            
            <td>@shipper.Phone</td>
        </tr>
        }
    }
    </tbody>
</MudSimpleTable>
}

@code {
    private ICollection<Shipper?> _shippers = new List<Shipper?>();

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        var shippers = await ShippersService.GetAll();
        if (shippers is not null)
        {
            _shippers = shippers.Select(x => MapperHelper.ToShipper(x)).ToList();
        }

        IsLoading = false;
    }

}
