@page "/categories"
<div class="row mb-1">
    <div class="col-6">
        <span class="h5">Categories</span>
    </div>
    <div class="col-6 text-end">
        <NavLink href="categories/create" class="btn btn-primary btn-sm">Create Category</NavLink>
    </div>
</div>

@code {

}
