@page "/categories/{id:int}"
@using Northwind.Blazor.Helpers
@using Northwind.Blazor.Models
@using Northwind.Core.Dtos
@using Northwind.Core.Interfaces.Services
@using System.Diagnostics
@inject ICategoriesService CategoriesService
@inherits PageBase


<MudPaper Elevation="1" Class="my-1">
    <MudToolBar>
        <MudIconButton Icon="@Icons.Filled.ChevronLeft" Link="categories"></MudIconButton>
        <MudText>Category Details</MudText>
    </MudToolBar>
</MudPaper>

@if (_isLoading)
{
    <MudProgressLinear Indeterminate="true"/>
}

@if (_category is null)
{
    <div>Category not found</div>
}
else
{
    
    <MudGrid Class="mt-1">
        <MudItem xs="12" md="12" lg="6" xl="6">
            <MudPaper Class="px-2">
                <MudGrid>
                    <MudItem xs="3" md="2" lg="2"><MudText Style="font-weight: bold;">Name</MudText></MudItem>
                    <MudItem xs="10" md="10" lg="10"><MudText>@_category.Name</MudText></MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="3" md="2" lg="2"><MudText Style="font-weight: bold;">Description</MudText></MudItem>
                    <MudItem xs="10" md="10" lg="10"><MudText>@_category.Description</MudText></MudItem>
                </MudGrid>
                <MudDivider DividerType="DividerType.FullWidth" Class="my-1"/>
                <MudGrid>
                    <MudItem xs="12" md="12" lg="12" Class="d-flex justify-end">
                        <MudButton Link="@String.Format("categories/{0}/edit", _category.Id)" Variant="Variant.Filled" Color="Color.Primary">Edit</MudButton>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudItem>                
    </MudGrid>
    
}

@code {
    private Category? _category = null;
    private bool _isLoading = true;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        var categoryDto = await CategoriesService.Get(Id);
        _isLoading = false;        

        if (categoryDto is null){
            Notify("Category not found.", Severity.Error);
            return;
        }

        _category = MapperHelper.ToCategory(categoryDto);
    }    
}
