@using Northwind.Common.Enums
<div class="row mb-1">
    <div class="col-lg-6">
        <span class="h5">@string.Format("{0} {1}", GetModeName(Mode), DisplayName)</span>
    @*@if (Mode == EntryMode.Create)
    {
        <span class="h5">@string.Format("{0} {1}", GetModeName(Mode), DisplayName)</span>
    }
    else
    {
        <span class="h5">Edit Product</span>
    }*@
    </div>
</div>
@code {
    [Parameter]
    public EntryMode Mode { get; set; }

    [Parameter]
    public string DisplayName { get; set; } = string.Empty;

    private string GetModeName(EntryMode entryMode)
    {
        switch (entryMode)
        {
            case EntryMode.Create:
                return "Create";
            case EntryMode.Edit:
                return "Edit";
            default:
                return string.Empty;
        }
    }
}
